.breadcrumb-wrapper {
  display: flex;
  flex-direction: row;
  > span {
    @media only screen and (max-width: 576px) {
      display: flex;
    }
    a {
      span {
        @media only screen and (max-width: 576px) {
          font-size: 14px;
        }
      }
    }
  }
  .ant-breadcrumb {
    a {
    }
  }
}
