.text-dark {
  color: #333333 !important;
}
.text-primary {
  color: #0c7973 !important;
}
.text-secondary {
  color: #6c757d !important;
}
.text-success {
  color: #28a745 !important;
}
.text-danger {
  color: #dc3545 !important;
}
.text-warning {
  color: #ffc107 !important;
}
.text-info {
  color: #17a2b8 !important;
}
.text-muted {
  color: #99a0ac !important;
}
