@import "./typography.scss";
@import "./spaces.scss";
@import "./sizing.scss";
@import "./breadcrumb.scss";
@import "./animate.scss";
@import "./display.scss";
@import "./color.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap");

* {
  &:hover,
  &:active,
  &:focus {
    outline: 0px !important;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  color: #212529;
  font-size: 16px;
  line-height: 1.5715;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
.btn.focus,
.btn:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

span {
  font-size: 16px;
}
.ic-large {
  font-size: 20px !important;
  line-height: 16px;
}

.rounded {
  border-radius: 0.25rem !important;
  img {
    border-radius: 0.25rem !important;
  }
}

.circle {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.small {
  font-size: 14px;
}
.font-bold {
  font-weight: bold !important;
}
.bg-gray-light {
  background-color: #f9f9f9 !important;
}

.border-0 {
  border: 0 !important;
}
.ant-select-item-option-selected {
  &:not(.ant-select-item-option-disabled) {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    background-color: #ffffff !important;
  }
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #d9d9d9 !important;
  border-right-width: 1px !important;
  box-shadow: none;
}

.ant-table-content {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.ant-modal-confirm-popup {
  .modal-layout {
    text-align: center;
    padding: inherit;

    .img-check-circle {
      height: 125px;
      margin-bottom: 30px;
    }
  }
}

.ant-radio-checked {
  &::after {
    border: 1px solid #0c7973 !important;
  }
  .ant-radio-inner {
    border-color: #0c7973 !important;
    &::after {
      background-color: #0c7973 !important;
    }
  }
}

.ant-dropdown-menu-items {
  padding-left: 15px !important;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0 !important;
  .ant-list-item {
    border-bottom: 1px solid #f0f0f0;
    &:last-child {
      border-bottom: none;
    }
  }
}
.ant-dropdown {
  padding: 0;
  background: #ffffff;
  .ant-list-items {
    padding: 0 15px;
  }
}

.steps-form {
  max-width: 100%;
  @media only screen and (min-width: 1080px) {
    max-width: 33.33333333%;
  }
}
.steps-action {
  .btn-gray {
    background: #5e676f;
    color: #f8f8f8;
    border: 2px solid #5e676f;
    text-transform: capitalize;
    &:active,
    &:focus {
      background: #5e676f;
      color: #f8f8f8;
      border: 2px solid #5e676f;
      text-transform: capitalize;
    }
    &:hover {
      background: #ffffff;
      color: #5e676f;
      border: 2px solid #5e676f;
    }
  }
}

.justify-content-end {
  @media only screen and (min-width: 1024px) {
    justify-content: flex-end !important;
  }
}

.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-self-lg-center {
  @media only screen and (min-width: 992px) {
    align-self: center !important;
  }
}
.align-items-center {
  align-items: center !important;
}
.align-items-lg-center {
  @media only screen and (min-width: 992px) {
    align-items: center !important;
  }
}
.flex-column {
  flex-direction: column !important;
  @media only screen and (min-width: 1024px) {
    flex-direction: row !important;
  }
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
  width: 220px;
}

.ant-layout-footer {
  background: #333333;
  color: #ffffff;
  min-height: 53px;
}

.width-220 {
  min-width: 220px;
}

.width-185 {
  min-width: 185px;
}

.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
